body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}
.hero{
    background-color: azure;
    text-align: center;
}
.hero h1{
    margin-bottom: 30px;
    font-size: 35px;
}
.hero p{
    margin-bottom: 20px;
    font-size: 22px;
}
.hero button{
    background-color: black;
    color: white;
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 13px;
    cursor: pointer;
    padding: 12px 25px;
}
.box{
    text-align: center;
    font-size: 22px;
}
.box h3{
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.service{
     background: #f7f7f7;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}
@media(max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .box h2 {
        font-size: 2rem;
    }
}
